body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
    font-size: 50px;
}
.header{
    color: orange;
}
.container-flexible{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 100%;
    border-radius: 25%;
}
.link-btn{
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    font-size: 20px;
    border-radius: 10px;
    color: whites;
}
.top-banner{
    background-image: url('image/top-banner.png');
    background-repeat: no-repeat;
}
.dream-btn{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 60px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border-radius: 10px;
    color: white;
}
.dream-big{
    background-image: url('image/dream-bg.png');
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-container{
    display: flex;
}
.boby-color{
    color: orange;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    border-radius: 15px;
}
.experience-area{
    background-image: url('image/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
#web-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(253, 167, 7),rgba(255, 166, 0, 0.24));
    border-image-slice: 1;
}
#boby-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 50px;
    font-size: 25px;
}